@model ComicStoreASP.Models.View.SearchAnalyticsDashboardViewModel

<h2>Search Analytics</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Top 10 Searches</th>
            <th>Top 10 Returned Comics</th>
            <th>Comics Returned Over 100 Times</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    @foreach (dynamic item in Model.TopSearches)
                    {
                        <li>@item.SearchTerm (@item.Count)</li>
                    }
                </ul>
            </td>

            <td>
                <ul>
                    @foreach (dynamic item in Model.TopResults)
                    {
                        <li>@item.ComicTitle (@item.Count)</li>
                    }
                </ul>
            </td>

            <td>
                <ul>
                    @foreach (dynamic item in Model.Over100Results)
                    {
                        <li>@item.ComicTitle (@item.Count)</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>

